@import "_header";

body {
    font-size: 20px;
    color: #a34646;
    div {
        font-size: 15px;        
    }
    span {
        font-size: 18px;
    }
}
.block {

    &__item {
    }
}
.block {
}
.block__item {
}